body 
    font-family: 'Proxima Nova', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a
    text-decoration: none

.wrapper
    margin: 0 auto
    width: 1920px
    display: flex